  /*  There is no need for positioning in this activity – please use floats and appropriate clearing methods where necessary.
    HTML background color: #693
    Body font:
        Verdana, Arial, sans-serif,
        10px font size,
        18px line-height
    The “Wrapper”:
        960px width
        centered within the browser
    Anchor text green: #693
    Anchor-hover: #000, with underline
    Headings:
        h1: 30px, Georgia
        h2: 24px, Georgia
        h3: 20px, Georgia
        */
        
        
h1, h2, h3, h4, h5, h6{
						margin: 0;
}
        
body{
	font: 10px Verdana, Arial, sans-serif;
	line-height: 18px;
}

#wrapper{
	width: 960px;
	margin: auto;
}

a:link{
	color: #693;
}
	
	
a:hover{
	color: #000;
}

h1{
	font: 30px Georgia;
}


h2{
	font: 24px Georgia;
}


h3{
	font: 20px Georgia;
}


/*Navigation
----------------------*/

#navList{
   width: 67.69%; /*720px;*/
   margin: 0 auto;
   list-style-type: none;
   padding: 0;
   float: right;
   overflow: hidden;
}

.navListItem{
	width: 16.666666666667%; /*120px/720px;*/
	
	float: left;
}

.navLink{
	text-decoration: none;
/*	background: #8CD1F4;*/
	display: block;
	height: 35px;
	line-height: 30px;
	text-align: center;
	color: #15145F;
}

.navLink:hover{
	color: #fff;
	background: #15145F;
}


/*Floats, etc.
--------------------*/

/*h1{
	
}*/

.household_product_Image{
	clear: right;
	float: left;
}

.household_h2{
	width: 320px;
	float: left;
}


.horizontal_divider{
	float: left;
}
/*
.affordable_green_car_Image{

}

.going_green_fl_Image{

}

.affordable_green_car{

}

.going_green_fl{

}

.affordable_ul{

}

.affordable_ul{

}

.vertical_divider{

}

.events{

}

.footer_class{

}

*/